{#
/**
 * @file
 * Default theme implementation to display the footer corporate bottom block.
 */
#}
<div class="ecl-row demo-block-footer-corporate-bottom">
  <div class="ecl-col">
    <ul class="ecl-list ecl-list--unstyled ecl-list--inline ecl-footer__list ecl-footer__list--inline">
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/about-commissions-new-web-presence_en">{{ "About the Commission's new web presence"|t }}</a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/resources-partners_en">{{ "Resources for partners"|t }}</a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/cookies_en">{{ "Cookies"|t }}</a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/legal-notice_en">{{ "Legal notice"|t }}</a>
      </li>
      <li class="ecl-footer__list-item">
        <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/contact_en">{{ "Contact"|t }}</a>
      </li>
    </ul>
  </div>
</div>
