{#
/**
 * @file
 * Themeing for rdf entities.
 */
#}
{{ attach_library('oe_theme/inpage_navigation') }}
<article{{ attributes }}>
  <div class="ecl-row">
    <div class="ecl-col-md-3 ecl-u-z-navigation">
      {% include '@ecl/ec-component-inpage-navigation' with {
        'title': 'Page contents'|t ,
        'links': in_page_links
      } %}
    </div>

    <div class="ecl-col-md-9">
      {{ title_prefix }}
      {% if not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      <a id="responsibilities"></a>
      <h2 class="ecl-heading ecl-heading--h2">{{ 'Responsibilities'|t }}</h2>
      {{ content.oe_department_tasks_description }}

      {% if announcements %}
        <a id="announcements"></a>
        <h2 class="ecl-heading ecl-heading--h2">{{ 'News'|t }}</h2>
        {{ announcements }}
      {% endif %}
    </div>
  </div>
</article>
